<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="steps-heading">Step Five: Arrays</h1>
      <hr>
    </div>
    <div class="page-content text-center">
      <div class="content-numbers">
        <h2>Simply, arrays are a list of values, separated by commas, surrounded in square brackets. There's not a whole lot more to it
          than that. They are incredibly useful to know how to use and even more useful to know how to search and pinpoint, especially
          when it comes to JSON and things like that.
          The major topics we will hit on are:</h2><br>
        <ul class="text-center">
          <li>
            <h3>Overivew of an array</h3>
          </li>
          <li>
            <h3>Looping through arrays</h3>
          </li>
        </ul><br>


        <h1>Overview of an array</h1>
        <h2>Like we said before, an array is simply a list of values, separated by commas, and surrounded by square brackets. Your question
        should now be, though, how do I access a value in said array? AHA! Let's find out with the example below:</h2>
      </div><br>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row code-examples">
          <div class="col-md-4 col-md-offset-4">
            <div class="code-block">
            <code>
              //Empty arrays are useful for a place to put values. You can declare them empty with no issues.
              var emptyArray = []; <br><br>
              //You don't have to declare an array any differently than anything other value on the left side.<br>
              var arrayWithValues = [1, 2, 3, 4];<br><br>
              //Arrays can have any type of value in it, even mixed values!<br>
              var mixedArray = [1, "2", 3, function four { console.log('4')}];<br><br>
              //We can access a value in the array by using: nameOfTheArray[index]<br>
              //REMEMBER!!! Arrays are zero-indexed, so if you want the first value in the array, use index zero!<br>
              //
            </code>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page-content text-center">
      <div class="content-numbers">
        <h2>Not sure just what happened there? Let's walk through it. We stated that it was going to be a for loop first. After that,
        within the parentheses, we declared a variable called "i", set it to equal zero, then put a semi-colon. That variable declaration
        is telling the loop where to start. After the first semi-colon, we have "i < 6". We are saying do whatever is in the loop while "i"
        is still less than 6, as soon as it becomes 6, stop the loop. After the second semi-colon, you see "i++". That is shorthand for
        "i = i + 1". That last part says after every time the loop finished running, add 1 to i.</h2>
        <h2>Within the loop, all it says is to console.log the variable "i" every time it runs.</h2>
      </div><br>
    </div>

    <br>
    <div class="content-functions text-center">
      <h1>While Loop</h1>
      <h2>While loops are useful for situations that you're not 100% sure about how much stuff you're going to have to loop through</h2><br>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row code-examples">
            <div class="col-md-6 col-md-offset-3">
              <div class="code-block">
                <code> var i = 1;<br>
                  while (i < 6) {<br>
                   console.log(i);<br>
                  }<br>
                  //Will log 1, 2, 3, 4, 5, 6;<br>
                 </code>
              </div>
            </div>
          </div>
        </div>
      </div><br>

      <h1>Conclusion</h1>
      <h2>Loops aren't a difficult feat to accomplish. They just take practice and experience to see why they are so useful.</h2>
    </div><br>
    <div class="text-center">
      <br>
      <a ui-sref="step-five">
        <p class="text-right">
          Next
        </p>
      </a>

    </div>













  </div>
</div>
